<div class="top-row navbar navbar-dark bg-dark px-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">🌌 StarWarsApp</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" title="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass sidebar" @onclick="ToggleNavMenu">
    <nav class="nav flex-column p-3">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
          <span>🏠</span> Home
        </NavLink>
        <NavLink class="nav-link" href="/films">
            🎬 Films
        </NavLink>
        <NavLink class="nav-link" href="/characters">
            🧑 Characters
        </NavLink>
        <NavLink class="nav-link" href="/vehicles">
            🚗 Vehicles
        </NavLink>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}